<!DOCTYPE html>
<body>
<!--
th:fragment="header-menu" // el id para invocarlo en los otros archivos
-->


<div th:fragment="flash-messages">
    <div class="alert alert-success" th:if="${messageSuccess != null}" th:text="${messageSuccess}"></div>
    <div class="alert alert-danger" th:if="${messageDanger != null}" th:text="${messageDanger}"></div>
    <div class="alert alert-warning" th:if="${messageWarning != null}" th:text="${messageWarning}"></div>
    <div class="alert alert-info" th:if="${messageInfo != null}" th:text="${messageInfo}"></div>
</div>


</body>
</html>